global:
  message: Welcome to global Microservices Environment [docker profile]
logging:
  level:
    root: INFO
eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka/    
management:
  endpoints:
    web:
      exposure:
        include: health, info, refresh
  endpoint:
    health:
      show-details: always
